body {
	
	background-color: #b7d1c4;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	
	}

p {
	
	color:	#000047;
	
	}

#cat_pic { 
	
	width="300" height="300";

}

#headers {
	color: #003300!important;
	font-family: Verdana!important;
}
